.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.dark-mode .card,
.dark-mode .section-block {
  background-color: #2c2c2c;
  border-color: #555;
  color: #fff;
}

.dark-mode .card-btn,
.dark-mode .back-card {
  background-color: #ffc107;
  color: black;
}

.dark-mode .back-card a {
  color: black;
}

.dark-mode summary {
  color: #ffeb3b;
}

.support-info {
  margin-top: 30px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  font-size: 1rem;
}
.dark-mode .support-info {
  background-color: #333;
  color: #fff;
}
body {
  background-color: lightyellow;
}
